body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #283618;
}

main {
  flex: 1 0 auto;
}

/* NAVBAR */
.nav-wrapper {
  background-color: #bc6d2d;
}

nav .brand-logo {
  color: black;
}

nav ul a {
  color: black;
  background-color: #fbd966;
  align-items: center;
  margin: 2px;
  border-radius: 5px;
  height: 58px;

}

/* TEXT LOGIN/REGISTER */
.grey-text.text-darken-1 {
  color: #fbd966 !important
}

/* LOGIN/REGISTER BUTTONS */
/* Register */
.blue.accent-3 {
  background-color: #d68535 !important;
}
/* Login */
.white {
  background-color: #d68535 !important;
}

/* LOGIN PAGE */
h4 {
  color: #fbd966;
}

a {
  color: #ff6f00;
}

button {
  background-color: #fbd966;
}

/* NEW RECIPE PAGE */
.btn {
  color: black;
  background-color: #fbd966;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  color: #fbd966;
}
/* RECIPE INDEX PAGE */
h1 {
  color: #ff6f00;
}

#recipe-header {
  color: #ff6f00;
}

.card .card-content {
  background-color: #d68535;
}

.card .card-action {
  background-color: #d68535;
}

/* RECIPE SHOW PAGE */
h3 {
  color: #fbd966;
}
#ingredients.card {
  background-color: #fcf1c6;
  margin: 20px;
}

.card {
  background-color: #283618;
}

#rec-image {
  border-radius: 10px;
  width: 100%;
}

#recipe-image {
  background-color: #fbd966;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  width: 35%;
}

#comments {
  color:  #fbd966;
}

article.nutri-info {
  background-color: #fcf1c6;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px 0 20px;
}

#ingredients.card {
  background-color: #fcf1c6;
  border-radius: 10px;
}

#show-ingredients.card {
  background-color: #fcf1c6;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

#ingredients-container {
  background-color: #fcf1c6;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
}

#lib-img {
  border-radius: 10px;
  width: 100%;
}

#recipe {
  background-color: #fcf1c6;
  justify-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: 30%;
}

a {
  margin: 0 0 0 20px;
}

h6 {
  color: #ff6f00;
  margin: 0 0 0 20px;
}

#recipe-update {
  margin: 2px;
}

#recipe-delete {
  margin: 2px;
}

/* RECIPE EDIT PAGE */
#recipe-comments {
  color:  #fbd966;
}

/* FOOTER */
.page-footer {
  background-color: #bc6d2d;
}

.page-footer .footer-copyright{
  color: #fbd966;
  text-align: right;
}