body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 108px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #283618;
}

main {
  flex: 1 0 auto;
}

/* NAVBAR */
.nav-wrapper {
  background-color: #bc6d2d;
}

#nav-title {
  color: beige;
  font-weight: 400;
  text-shadow: 2px 2px black;
}

nav ul a {
  color: #fbd966;
  background-color: none;
  /* background-color: #fbd966; */
  align-items: center;
  margin: 2px;
  border-radius: 5px;
  height: 58px;

}

/* TEXT LOGIN/REGISTER */
.grey-text.text-darken-1 {
  color: #fbd966 !important
}

/* LOGIN/REGISTER BUTTONS */
/* Register */
.blue.accent-3 {
  background-color: #d68535 !important;
}
/* Login */
.white {
  background-color: #d68535 !important;
}

/* LOGIN PAGE */
h4 {
  color: #fbd966;
}

a {
  color: #ff6f00;
}

button {
  background-color: #fbd966;
}

/* NEW RECIPE PAGE */
.btn {
  color: black;
  background-color: #fbd966;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  color: #fbd966;
}
/* RECIPE INDEX PAGE */
h1 {
  color: #ff6f00;
  font-weight: 400;
  text-shadow: 2px 2px black;
}

#recipe-header {
  color: #ff6f00;
}

.card .card-content {
  background-color: #d68535;
}

.card .card-action {
  background-color: #d68535;
}

/* RECIPE SHOW PAGE */
#show-name {
  color: #fbd966;
  font-weight: 400;
  text-shadow: 2px 2px black;
  margin: 20px;
}
#ingredients.card {
  background-color: #fcf1c6;
  margin: 20px;
}

.card {
  background-color: #283618;
}

#rec-image {
  border-radius: 10px;
  width: 100%;
}

#recipe {
  background-color: #fcf1c6;
  box-shadow: 0 4px 8px 0 #ff6f00;
  justify-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
  width: 30%;
}

#recipe-image {
  background-color: #fbd966;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  width: 35%;
}


/* #nutri-container {
  box-shadow: 0 4px 8px 0 #ff6f00; 
} */

/* #ingredients-container {
  background-color: #fcf1c6;
  box-shadow: 0 4px 8px 0 #ff6f00;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
} */

#show-ingredients {
  background-color: #fcf1c6;
  box-shadow: 0 4px 8px 0 #ff6f00;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

article.nutri-info {
  background-color: #fcf1c6;
  box-shadow: 0 4px 8px 0 #ff6f00;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px 0 20px;
}

#ingredients {
  border-radius: 10px;
}


#lib-img {
  border-radius: 10px;
  width: 100%;
}

a {
  margin: 0 0 0 20px;
}

h6 {
  color: #ff6f00;
  margin: 5px 0 5px 20px;
  text-shadow: 1px 1px #283618;
}

#nutri-p {
  padding: 2px;
}

#comments {
  color:  #fbd966;
  font-size: 18px; 
  width: 98%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 #ff6f00;
  padding: 10px 2px 2px 5px;
  margin: 5px 20px 10px 20px;
}

#recipe-update {
  margin: 2px;
}

#recipe-delete {
  margin: 2px;
}

/* LIBRARY CARD */
#card-row {
  display: flex;
  float: left;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 25%;
  margin: 10px 25px;
}

#library-recipe {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #ff6f00;
  width: 100%;
  height: auto;
}

#library-recipe-image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#recipe-name {
  color: beige;
  font-weight: 400;
  text-shadow: 2px 2px black;
}

#card-action {
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#full-recipe-link:hover {
  font-size: 102%;
}

#full-recipe-link {
  color: black;
  margin: 0;
}

/* RECIPE EDIT PAGE */
#recipe-comments {
  color:  #fbd966;
}

/* FOOTER */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-content: left;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0, 0;
  background-color: #bc6d2d;
}

#edamam-badge {
  justify-content: left;
}

#footer-container {
  margin: 0;
}

#footer-copywrite {
  color: #fbd966;
  background-color: none;
  text-align: right;
  justify-content: right;
  padding: 0;
 
}
